.icon-info {
  background: var(--icon-info);
}

.icon-list {
  background: var(--icon-list);
}

.icon-code {
  background: var(--icon-code);
}

.icon-checklist {
  background: var(--icon-checklist);
}

.icon-person-speaking {
  background: var(--icon-person-speaking);
}

.icon-person-online {
  background: var(--icon-person-online);
}

.icon-mobile {
  background: var(--icon-mobile);
}

.icon-idle {
  background: var(--icon-moon);
}

.icon-online {
  background: var(--icon-online);
}

.icon-offline {
  background: var(--icon-offline);
}

.icon-question {
  background: var(--icon-question);
}

.icon-attendance {
  background: var(--icon-attendance);
}
